.form-class{
    padding:1rem;
    width: 70%;
}
.PageClass{
    margin-left:0px !important ;
    padding-left:0px !important ;
}
.button{
    display: inline;
    margin-right: 1rem !important;
}
.SenderID{
    width:300px !important;
}
.sender-field{
    width: 300px !important;
}
.sms-template{
    max-width: 90vw;
}
.drop-zone{
    border: 1px solid gray;
    width: 90vw;
    height: 20vh;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
}
.warpper{
    margin-left: 1rem !important;
    padding-left: 1rem !important;
}